<div class="footer-container8">
  <div class="footer-column8">
    <h3>Features</h3>
    <a href="https://www.growfin.ai/features/strategize" target="_blank"
      >Strategize</a
    >
    <a href="https://www.growfin.ai/features/collaboration" target="_blank"
      >Collaboration</a
    >
    <a href="https://www.growfin.ai/features/tracking" target="_blank"
      >Tracking</a
    >
    <a href="https://www.growfin.ai/features/reporting" target="_blank"
      >Reporting</a
    >
  </div>
  <div class="footer-column8">
    <h3>What's in it for you?</h3>
    <a href="https://www.growfin.ai/roles" target="_blank">By Role</a>
    <a
      href="https://www.growfin.ai/roles#cfos-and-director-of-finance"
      target="_blank"
      >CFOs and Directors of Finance</a
    >
    <a href="https://www.growfin.ai/roles#controllers" target="_blank"
      >Controllers</a
    >
    <a href="https://www.growfin.ai/roles#ar-managers" target="_blank"
      >AR Managers</a
    >
    <a href="https://www.growfin.ai/roles#csms-aes-and-ams" target="_blank"
      >Collection Teams</a
    >
    <a href="https://example.com/csmas" target="_blank">CSMs, AEs and AMs</a>
    <h4>By Tech Stack</h4>
  </div>
  <div class="footer-column8">
    <h3>Resources</h3>
    <a href="https://www.growfin.ai/resources/blog" target="_blank">Blog</a>
    <a href="https://www.growfin.ai/resources/webinars" target="_blank"
      >Webinars</a
    >
    <a href="https://www.growfin.ai/the-casheroes" target="_blank"
      >The Cashroom</a
    >
    <a href="https://www.growfin.ai/roi-calculator" target="_blank"
      >ROI Calculator</a
    >
  </div>
  <div class="footer-column8">
    <h3>Company</h3>
    <a href="https://www.growfin.ai/our-story" target="_blank">About us</a>
    <a href="https://www.growfin.ai/careers" target="_blank">Careers</a>
    <a href="https://www.growfin.ai/features/strategize" target="_blank"
      >Book a demo</a
    >
  </div>
  <div class="footer-column8">
    <h3>Contact us</h3>
    <a href="mailto:hello@growfin.ai" style="color: #00e5ff">Email-Us</a>
    <address>
      <a
        href="https://maps.google.com/?q=3082 Moser Way, Marietta, GA 30060"
        target="_blank"
      >
        3082, Moser Way, Marietta, GA 30060
      </a>
    </address>
  </div>
  <div class="footer-column8">
    <h3>Legal</h3>
    <a href="https://www.growfin.ai/legal/terms" target="_blank"
      >Terms of use</a
    >
    <a href="https://www.growfin.ai/legal/privacy-policy" target="_blank"
      >Privacy policy</a
    >
  </div>
</div>

<div class="footer-bottom8">
  <div class="social-icons">
    <a href="growfin.ai" target="_blank">
      <img src="{{ logo1 }}" alt="My Image" />
    </a>
    <a href="https://twitter.com" target="_blank">
      <img src="{{ logo2 }}" alt="My Image" />
    </a>
    <a href="https://instagram.com" target="_blank">
      <img src="{{ logo3 }}" alt="My Image" />
    </a>
    <a href="https://facebook.com" target="_blank">
      <img src="{{ logo4 }}" alt="My Image" />
    </a>
  </div>
  <p>Copyright © 2023 Growfin. All rights reserved.</p>
</div>
