<section>
  <div class="container8">
    <header>
      <h1>Secure, Seamless, and Scalable Cash Application</h1>
      <p>
        Integrate seamlessly with all your banks and ERP, and keep your auditors
        happy with state-of-the-art compliance and security measures.
      </p>
    </header>
  </div>

  <div class="container7">
    <div class="feature7">
      <h2>Tight ERP Integration</h2>
      <div class="content7">
        <p>
          Keep your books accurate and up-to-date, and the auditors at bay with
          a seamless 2-way integration with your ERP.
        </p>
        <div class="logos7">
          <img src="{{ logo1 }}" alt="My Image" />
          <img src="{{ logo2 }}" alt="My Image" />
          <img src="{{ logo3 }}" alt="My Image" />
        </div>
      </div>
    </div>

    <div class="feature7">
      <h2>Unmatched Security</h2>
      <div class="content7">
        <p>
          Stay confident and compliant with software that’s approved by the
          world’s most trusted certifications.
        </p>
        <div class="logos7">
          <img src="{{ logo4 }}" alt="My Image" />
          <img src="{{ logo5 }}" alt="My Image" />
        </div>
      </div>
    </div>

    <div class="feature7">
      <h2>Wide Bank Coverage</h2>
      <div class="content7">
        <p>
          Out-of-the-box connection to all your bank accounts across geographies
          to read payments in real-time.
        </p>
        <div class="logos7">
          <img src="{{ logo6 }}" alt="My Image" />
          <img src="{{ logo7 }}" alt="My Image" />
          <img src="{{ logo8 }}" alt="My Image" />
        </div>
      </div>
    </div>
  </div>
</section>
