<section class="container3">
  <div class="header">
    <div class="header-left">
      <h3>
        Experience<br />
        Cash Application <br />
        Perfection
      </h3>
    </div>
    <div class="header-right">
      <p>
        Achieve touchless cash application to enable faster and accurate
        financial reporting for your business and a better experience for your
        customers.
      </p>
    </div>
  </div>
</section>

<section class="card5">
  <div class="features5">
    <div class="feature5">
      <img src="{{ card1 }}" alt="My Image" />
      <h3>Automate Cash Application</h3>
      <p>
        Auto-match payments and extract remittances from even unstructured data,
        and achieve straight-through posting.
      </p>
    </div>
    <div class="feature5">
      <img src="{{ card2 }}" alt="My Image" />
      <h3>Achieve Exceptional Accuracy</h3>
      <p>
        Ensure precise payment matching, even with partial or overpayments, to
        reduce posting errors and compliance nightmares.
      </p>
    </div>
    <div class="feature5">
      <img src="{{ card3 }}" alt="My Image" />
      <h3>Deliver Real-time Visibility</h3>
      <p>
        Gain real-time visibility into cash flow and AR aging to optimize
        collection strategies and improve forecasting accuracy.
      </p>
    </div>
    <div class="feature5">
      <img src="{{ card4 }}" alt="My Image" />
      <h3>Enhance Customer Experience</h3>
      <p>
        Avoid disputes, incorrect follow-ups and improve customer satisfaction
        with real-time, touchless cash applications.
      </p>
    </div>
  </div>
  <div class="nav-buttons">
    <button class="btn demo-btn">Schedule a Demo</button>
    <button class="btn access-btn">Request Access</button>
  </div>
</section>
