.cta-section {
  background: linear-gradient(270deg, #1e3a8a, #2563eb);
  color: white;
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  max-width: 90%;
  height: 500px;
  margin: 40px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.cta-section h1 {
  font-size: 3em;
  margin-bottom: 40px;
  color: white;
  width: 50%;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bolder;
}

.cta-buttons .btn {
  margin-right: 15px;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.cta-buttons .access-btn {
  border: 2px solid #00e5ff;
  cursor: pointer;
}

.demo-btn {
  background-color: #22d3ee;
  color: black;
}

@media (max-width: 768px) {
  .cta-section {
    padding: 30px 10px;
  }

  .cta-section h1 {
    font-size: 1.5em;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
