<header>
  <div class="navbar">
    <img src="{{ logo }}" alt="My Image" />
    <div class="nav-buttons">
      <button class="btn demo-btn">Schedule a Demo</button>
      <button class="btn access-btn">Request Access</button>
    </div>
  </div>
</header>

<section class="hero">
  <div class="hero-content">
    <h1>Real-Time Cash Application Software</h1>
    <p>
      Radically minimize manual intervention and acheive same-day closure with
      Growfin's ML-powered Cash Application that delivers accurate,touchless
      postioning.
    </p>
    <div class="cta-buttons">
      <button class="btn demo-btn">Schedule a Demo</button>
      <button class="btn access-btn">Request Access</button>
    </div>
  </div>
  <div class="hero-image">
    <img src="{{ imagePath }}" alt="My Image" />
  </div>
</section>
