<section class="early">
  <div class="container">
    <h1>What our Early Customers have Already Achieved</h1>
    <div class="content">
      <div class="profile-section">
        <img src="{{ image }}" alt="My Image" />
      </div>
      <div class="info-section">
        <div class="info-item">
          <img src="{{ imagePath1 }}" alt="My Image" />
          <div class="text">
            <span class="percentage">95%</span>
            <span class="description"
              >Increase in same-day invoice posting</span
            >
          </div>
        </div>
        <div class="info-item">
          <img src="{{ imagePath2 }}" alt="My Image" />
          <div class="text">
            <span class="percentage">70%</span>
            <span class="description"
              >Reduction in posting delays and errors</span
            >
          </div>
        </div>
        <div class="info-item">
          <img src="{{ imagePath3 }}" alt="My Image" />
          <div class="text">
            <span class="percentage">75%</span>
            <span class="description"
              >Increase in automation
              <form action=""></form>
              manual Cash Application</span
            >
          </div>
        </div>
        <div class="info-item">
          <img src="{{ imagePath4 }}" alt="My Image" />
          <div class="text">
            <span class="percentage">100%</span>
            <span class="description"
              >Improvement in customer communication & experience</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container1">
    <div class="image-container1">
      <img src="{{ logo1 }}" alt="My Image" />
    </div>
    <div class="image-container1">
      <img src="{{ logo2 }}" alt="My Image" />
    </div>
    <div class="image-container1">
      <img src="{{ logo3 }}" alt="My Image" />
    </div>
  </div>
</section>
